* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* WebKit */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #06a1e9;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #84ffef;
}
body{
    background-color: black !important;
    overflow-x: hidden;
}

footer{
    background-color: black !important;
    color: white !important;
}
.head1 {
    color: #f1f1f1;
    text-shadow: bisque;
}
.recipe-cards:hover{
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn
}
@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }

    50% {
        opacity: 1
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }

    50% {
        opacity: 1
    }
}
.zoomUp:hover{
    background-color: burlywood;
    -webkit-animation-name: zoomInUp;
    animation-name: zoomInUp
}
@keyframes zoomInUp {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(.55, .055, .675, .19);
        animation-timing-function: cubic-bezier(.55, .055, .675, .19)
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        -webkit-animation-timing-function: cubic-bezier(.175, .885, .32, 1);
        animation-timing-function: cubic-bezier(.175, .885, .32, 1)
    }
}