* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* WebKit */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #06a1e9;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #84ffef;
}

body {
    background-color: black !important;
    overflow-x: hidden;
}

footer {
    background-color: black !important;
    color: white !important;
}

.head1 {
    color: #f1f1f1;
    text-shadow: bisque;
}

.btn-color {
    background: rgb(2, 0, 36);
    background: linear-gradient(45deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 24%, rgba(2, 177, 232, 1) 59%, rgba(0, 212, 255, 1) 100%);
    border: none;
    color: whitesmoke;
}
.btn-color:hover{
    color: white;
    background: rgb(2,0,36);
background: linear-gradient(45deg, rgba(2,0,36,0.6446953781512605) 0%, rgba(9,9,121,0.7567401960784313) 24%, rgba(2,177,232,0.7147233893557423) 59%, rgba(0,212,255,1) 100%);
}

.recipe-cards:hover {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }

    50% {
        opacity: 1
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
    }

    50% {
        opacity: 1
    }
}

.zoomUp:hover {
    background-color: burlywood;
    -webkit-animation-name: zoomInUp;
    animation-name: zoomInUp
}

@keyframes zoomInUp {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(.55, .055, .675, .19);
        animation-timing-function: cubic-bezier(.55, .055, .675, .19)
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        -webkit-animation-timing-function: cubic-bezier(.175, .885, .32, 1);
        animation-timing-function: cubic-bezier(.175, .885, .32, 1)
    }
}

.ketchup,
.salt,
.pepper {
    height: 200px;
    width: 200px;
}

/* animation */
.food-items img {
    width: 50px;
    animation: bubble 7s linear infinite;
}

.food-items {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 60;
}

@keyframes bubble {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        transform: translateY(-100vh);
        opacity: 0;
    }
}

.food-items img:nth-child(1) {
    animation-delay: 2s;
}

.food-items img:nth-child(2) {
    animation-delay: 4.5s;
}

.food-items img:nth-child(3) {
    animation-delay: 3s;
}

.food-items img:nth-child(4) {
    animation-delay: 7s;
}

.food-items img:nth-child(5) {
    animation-delay: 1s;
}

.food-items img:nth-child(6) {
    animation-delay: 2.5s;
}